#signup {
    margin: auto;
    width: 500px;
    margin-top: 100px;
    border: 1px solid whitesmoke;
    padding: 20px 20px 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 50px;
    }
    #submit {
    width: 300px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #3a63f7;
    color: white;
    border: none;
    padding: 5px;
    margin-left: 70px;
    margin-bottom: 20px;
    }
    #submit + p {
    background: rgb(14, 2, 205);
    background: linear-gradient(
    90deg,
    rgba(14, 2, 205, 1) 0%,
    rgba(154, 95, 228, 1) 37%,
    rgba(139, 0, 255, 1) 100%
    );
    text-align: center;
    color: white;
    }
    .form-group > img {
    margin-left: 70px;
    width: 300px;
    }
    #login {
    margin: auto;
    width: 500px;
    margin-top: 100px;
    border: 1px solid whitesmoke;
    padding: 20px 20px 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 50px;
    }
    #sign1 {
    width: 300px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: white;
    color: black;
    padding: 5px;
    margin-left: 80px;
    margin-bottom: 20px;
    }
    #sign2 {
    width: 300px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: white;
    color: black;
    padding: 5px;
    margin-left: 80px;
    margin-bottom: 20px;
    }
    #prodcon {
    height: auto;
    /* width: 100%; */
    border: 0px solid red;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
    }
    #first {
    border: 0px solid green;
    /* width: 100%; */
    height: auto;
    }
    #second {
    border: 0px solid blue;
    /* width: 100%; */
    height: auto;
    }
    .px {
    font-size: 12px;
    }
    #input {
    width: 240px;
    }
    #find {
    display: flex;
    margin-top: 20px;
    }
    #bi {
    margin-left: 10px;
    margin-top: 5px;
    }
    #c1:hover {
    background-color: #efefef;
    cursor: pointer;
    }
    #scratch {
    display: grid;
    width: 100%;
    gap: 20px;
    margin-top: 50px;
    grid-template-columns: repeat(3, 1fr);
    }